<ActionBar title="Nativescript">
</ActionBar>
<StackLayout>
    <Image *ngIf="myImage" class="imageCss" src="{{myImage}}" strech="aspectFill"></Image>
    <!-- <Image src="{{ imageUri }}" width="100" height="100" stretch="aspectFill" /> -->
    <Button class="btn btn-primary" text="Open Camera" (tap)="openCam()"></Button>
    <Button class="btn btn-primary" text="Refresh" (tap)="openMe()"></Button>
    <ListView [items]="buttons" class="list-group" *ngIf="buttons">
        <ng-template let-button="item">
            <Button class="btn btn-primary" [text]="button.name" mat-flat-button [color]="button.color" ></Button>
        </ng-template>        
    </ListView>
</StackLayout>